.form-container {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;

}

.form-title{
    font-size: 35px;
    color: #2A414F;
    font-weight: 400;
}

.input-group {
    margin-bottom: 20px;
}
.input-group label{
    display: block;
    margin-left: 5px;
    font-weight: 700;
}

.input-group input{
    width: 415px;
    height: 50px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;
}

.form-submit {
    width: 415px;
    height: 55px;
    background: #FF99004D;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.form-submit:hover{
    background: #ff9900bb;
}
.form-link {
    color: #FF9900;
    text-decoration: none;
    cursor: pointer;
}

.or-container {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.or-container p{
    margin: 0 10px 2px 10px;
    color: #95A0A7;
}

.or-style-left, .or-style-right {
    height: 1px;
    width: 145px;
}

.or-style-left{
    background: #95A0A7;
}

.or-style-right{
    background: #95A0A7;
        
    }

.input-wrapper {
    padding: 2px;
    border-radius: 7px;
    border: 1px solid #95A0A7;
              
}

.google-auth {
    height: 55px;
    width: 415px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    color: #1b4388;
    font-size: 18px;
    position: relative;
}

.google-auth img {
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translateY(-50%);
}

.google-auth p {
    margin-left: 10px;
}